<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.noinventory.noinventory">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.NFC" />
    admin
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Principal"
            android:label="@string/title_activity_principal"
            android:parentActivityName=".Login">
            <action android:name="android.intent.action.Principal" />

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.noinventory.noinventory.Login" />
        </activity>
        <activity
            android:name=".Register"
            android:label="@string/title_activity_register"
            android:parentActivityName=".Login">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.noinventory.noinventory.Login" />
        </activity>
        <activity
            android:name=".Items"
            android:label="@string/title_activity_mis_items"
            android:parentActivityName=".Principal">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.noinventory.noinventory.Principal" />
        </activity>
        <activity
            android:name=".NFC_item_writer"
            android:label="@string/title_activity_nfc_item_writer"
            android:parentActivityName=".Items"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Items" />
        </activity>
        <activity
            android:name=".Catalogos"
            android:label="@string/title_activity_mis_catalogos"
            android:parentActivityName=".Principal">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.noinventory.noinventory.Principal" />
        </activity>
        <activity
            android:name=".Scaner"
            android:label="@string/title_activity_scaner"
            android:parentActivityName=".Catalogos"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Catalogos" />
        </activity>
        <activity
            android:name=".AddNFCItem"
            android:label="@string/title_activity_add_nfcitem"
            android:parentActivityName=".Catalogos"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.noinventory.noinventory.Catalogos" />
        </activity>
        <activity
            android:name=".DetallesItem"
            android:label="@string/title_activity_detalles_item"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
